/* selector {property:value;} */
/*index page */
#portfoliopage {
  background-color: lightgrey;
}

#aboutpage {
  background-color: lightgrey;
}

#indexpage {background-color: lightgrey;}
.top-bar { background-color: dimgray;

}

nav { background-color: dimgrey;}
.mainnavigation ul li { background-color: dimgrey;
                        font-family: 'News Cycle', sans-serif;
                        font-size: 20px;
                      }
.menu li {background-color: dimgrey;
}

.mainnavigation a {color: white;}
#indexpage .mainnavigation li:nth-child(1) {background-color: rgba(0,0,0,0.3);}
#portfoliopage .mainnavigation li:nth-child(2) {background-color: rgba(0,0,0,0.3);}
#aboutpage .mainnavigation li:nth-child(3) {background-color: rgba(0,0,0,0.3);}

h1 {font-family: 'Josefin Sans', sans-serif;}
h2 {font-family: 'Economica', sans-serif;
    font-size: 30px;
}
h3 {font-family: 'Economica', sans-serif;
    font-size: 24px;
}
p {font-family: 'Heebo', sans-serif; }
h5 {font-family: 'Heebo', sans-serif;
font-size: 16px;
text-align: center;
color: white;}

.O {color: black;
background-color: white;}
/* feedback page */

.script { color: white;
          background-color: green;
          text-align: center;
          padding: 5px;
}
.feedbackform {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
ul {list-style: none;
}
.logo {
  background-image: url(../photos/header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100px;
}

.headerphoto {
  background-image: url(../photos/mommy.png);
  background-size: 100% 100%;
}

.headline { background-color: green;
  margin-top: 2px;
}
.headline > h1 { color: yellow;
                text-align: center;
                text-transform: capitalize;
                padding: 10px;
                font-size: 30px;
}
.tt {
  margin-top: 30px;
}
.testimonial {
      margin-top: 20px;
      padding: 10px;
    }
.testimonial p {font-size: 17px;
text-align: justify;}
.text1 > h2 {color: white;
      background-color: black;
      width: 140px;
      height: 60px;
      padding: 2px;
      text-align: center;
        }
.photo1 {
      background-image: url(../photos/image2.jpg);
      background-size: 100% 100%;
      height: 300px;
      border-right: 1px solid white;

}

.photo2 {
  background-image: url(../photos/california.jpg);
  background-size: 100% 100%;
  height: 300px;
  border-right: 1px solid white;
}

.photo3 {
  background-image: url(../photos/stlucia.jpg);
  background-size: 100% 100%;
  height: 300px;
}
.footer h5 {background-color: green;
text-align: center;}
.me {background-image: url(../photos/me.jpg);
    background-size: contain;
    height: 300px;
}
 .name {background-color: green;
 height: 25px;}

 .hi {background-color: white;
   color: black;
 text-align: left;
 margin: 10px;
 padding-bottom: 8px;
 padding-left: 10px;
padding-right: 10px;

}

/*portfolio page */
.show {color: black;
  text-align: right;

}
.contact {color: white;
text-align: left;
padding-top: 20px;
}
.contact h1, h2 {
  color: white;
  font-size: 40px;
  background-color: green;
  width: 60%;
  text-align: center;

}

.contact1 h2 {width: 70%;}



.footer2 { background-color: dimgrey;
          height: 50px;
          padding: 10px;
}
.logo2 {background-image: url(../photos/header2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 100px;
                }
.work1 {background-image: url(../photos/work1.png);
        background-size: 100% 100%;
        height: 300px;
        border-right: 5px solid lightgrey;
        }

.work2 {background-image: url(../photos/work2.png);
                background-size: 100% 100%;
                height: 300px;
                border-left: 5px solid lightgrey;
                }

.button.success {
                background-color: rgb(13, 117, 188);
                color: black;
                }
.button.success:hover, .button.success:focus {
                    background-color: rgb(20, 89, 136);
                    color: #0a0a0a; }
.button.success1:hover, .button.success1:focus {
                background-color: dimgrey;
                color: white;
}
.button.success1 {
                background-color: grey;
                color: white;
                }
